# INOVA Antiplatelet Project R Code Conversion
This code shows that my proficiency in R data manipulation is easily transferable to Python. Note, due to patient confidentiality, I have commented out many print and head functions.

In [1]:
# install packages
!pip install pandas
!pip install numpy
!pip install tableone==0.7.12

import numpy as np

import pandas as pd

#################
#install packages
#################
#openpyxl
!pip install openpyxl==3.0.10
import openpyxl


#dplyr
!pip install dplython
from dplython import DplyFrame, X, select, mutate

Requirement already satisfied: pandas in c:\users\brody\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\brody\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\brody\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\brody\anaconda3\lib\site-packages (1.23.5)
Requirement already satisfied: tableone==0.7.12 in c:\users\brody\anaconda3\lib\site-packages (0.7.12)
Requirement already satisfied: numpy>=1.19.1 in c:\users\brody\anaconda3\lib\site-packages (from tableone==0.7.12) (1.23.5)
Requirement already satisfied: pandas>=1.2.1 in c:\users\brody\anaconda3\lib\site-packages (from tableone==0.7.12) (1.5.3)
Requirement already satisfied: scipy>=1.7.0 in c:\users\brody\anaconda3\lib\site-packages (from tableone==0.7.12) (1.10.1)
Requirement already satisfied: statsmodels>=0.12.1 in c:\users\brody\anaconda3\lib\site-packages (from tableone==0.7.12) (0.14.0)
Requirement already satisfied: tabulate>=0.8.10 in c:\users\brody\anaconda3\lib\site-packages (from tableone==0.7.12) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas>=1.2.1->tableone==0.7.12) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas>=1.2.1->tableone==0.7.12) (2020.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\brody\anaconda3\lib\site-packages (from statsmodels>=0.12.1->tableone==0.7.12) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\brody\anaconda3\lib\site-packages (from statsmodels>=0.12.1->tableone==0.7.12) (23.1)
Requirement already satisfied: six in c:\users\brody\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels>=0.12.1->tableone==0.7.12) (1.15.0)
Requirement already satisfied: openpyxl==3.0.10 in c:\users\brody\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\brody\anaconda3\lib\site-packages (from openpyxl==3.0.10) (1.0.1)
Requirement already satisfied: dplython in c:\users\brody\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: numpy in c:\users\brody\anaconda3\lib\site-packages (from dplython) (1.23.5)
Requirement already satisfied: pandas in c:\users\brody\anaconda3\lib\site-packages (from dplython) (1.5.3)
Requirement already satisfied: six in c:\users\brody\anaconda3\lib\site-packages (from dplython) (1.15.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas->dplython) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\brody\anaconda3\lib\site-packages (from pandas->dplython) (2020.1)

In [2]:
# Read Antiplatelet1
Antiplatelet1 = pd.read_excel("C:/Users/brody/Desktop/School/Work/Internships/INOVA/Antiplatelet/Antiplatelet.xlsx", sheet_name=0, header=None)
Antiplatelet1 = pd.DataFrame(Antiplatelet1)
Antiplatelet1.columns = Antiplatelet1.iloc[0]
Antiplatelet1 = Antiplatelet1.iloc[1:]
Antiplatelet1.reset_index(drop=True, inplace=True)

# Drop rows with missing "Patient Number"
Antiplatelet1 = Antiplatelet1.dropna(subset=["Patient Number"])

# Reset the index
Antiplatelet1.reset_index(drop=True, inplace=True)

# Summary
Antiplatelet1_summary = Antiplatelet1.describe(include = 'all')
Antiplatelet1_summary

,Patient Number,PCI,Age,Race,Gender,Height (cm),Weight (kg),BMI,Presenting Hospital,Pre-Hospital Location,...,ASA,Plavix,Ticagrelor,Prasugrel,DOAC,Coumadin,Cardiac Arrest,TTM,CT Head (Pre-ECMO),NaN
count,80,80,80,80,80,80.0,80.0,80.000000,80,80,...,79,79,79,78,78,78,79,79,79,6
unique,80,1,33,3,2,28.0,73.0,79.000000,2,1,...,2,2,2,2,2,2,2,2,2,6
top,1,Yes,52,Not of Hispanic/Latino/Spanish origin,Male,177.8,90.7,41.311302,Inova Fairfax,Home,...,Yes,No,No,No,No,No,Yes,No,No,HEPARIN GTT TOO lv THOMRVUS
freq,1,80,8,63,67,9.0,3.0,2.000000,42,80,...,48,69,55,76,75,77,45,56,70,1

In [3]:
# Read Antiplatelet2
Antiplatelet2 = pd.read_excel("C:/Users/brody/Desktop/School/Work/Internships/INOVA/Antiplatelet/Antiplatelet.xlsx", sheet_name=1, header=None,engine="openpyxl")

Antiplatelet2 = pd.DataFrame(Antiplatelet2)
Antiplatelet2.columns = Antiplatelet2.iloc[0]
Antiplatelet2 = Antiplatelet2.iloc[1:]
Antiplatelet2.reset_index(drop=True, inplace=True)

# Drop rows with missing "Patient Number"
Antiplatelet2 = Antiplatelet2.dropna(subset=["Patient Number"])

# Reset the index
Antiplatelet2.reset_index(drop=True, inplace=True)

#print(Antiplatelet2)

# Summary
Antiplatelet2_summary = Antiplatelet2.describe(include = 'all')
Antiplatelet2_summary

,Patient Number,Site of Cannulation,Cannulation Location,Date of cannulation,Date of decannulation,Amount of Cannulation AC (Heparin Units),Max ACT,Final ACT,Date of 1st Ramp,Ramp Outcome,...,Transfusion Requirement Cryo Units,Stent Thrombosis (on ECMO),NaN,NaN,NaN,NaN,NaN,NaN,Ischemic CVA,Location of CVA
count,78.0,77,77,78,78,76.0,73,73,55,54,...,77.0,76,20,0.0,1,0.0,0.0,0.0,77,15
unique,78.0,2,3,76,78,18.0,51,47,53,2,...,5.0,1,15,NaN,1,NaN,NaN,NaN,2,10
top,1.0,Peripheral,OR,2020-12-20 00:00:00,2018-01-26 00:00:00,5000.0,Not documented,Not documented,2019-06-20 00:00:00,Fail,...,0.0,No,withdrawal of care,NaN,convereted to centrimag 2/8,NaN,NaN,NaN,No,na
freq,1.0,76,52,2,1,17.0,20,20,2,30,...,56.0,76,6,NaN,1,NaN,NaN,NaN,68,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Read Antiplatelet3

Antiplatelet3 = pd.read_excel("C:/Users/brody/Desktop/School/Work/Internships/INOVA/Antiplatelet/Antiplatelet.xlsx", sheet_name=2, header=None,engine="openpyxl")

Antiplatelet3 = pd.DataFrame(Antiplatelet3)
Antiplatelet3.columns = Antiplatelet3.iloc[0]
Antiplatelet3 = Antiplatelet3.iloc[1:]
Antiplatelet3.reset_index(drop=True, inplace=True)

# Drop rows with missing "Patient Number"
Antiplatelet3 = Antiplatelet3.dropna(subset=["Patient Number"])

# Reset the index
Antiplatelet3.reset_index(drop=True, inplace=True)

# Summary
Antiplatelet3_summary = Antiplatelet3.describe()
Antiplatelet3_summary

,Patient Number,Mortality (Survival to Discharge),Date of ICU Admit,Date of Transfer Out of ICU,Number of Hospital Days,Discharge Dispo,Date Intubated,Date Extubated,Trach,Maintenance Antiplatelet,Maintenance AC,Maintenance Antithrombotic Regimen for Analysis
count,78,74,76,59,76,74,76,41,74,36,27,54
unique,78,2,76,58,37,4,75,41,2,11,5,7
top,1,No,2018-01-15 00:00:00,2019-09-19 00:00:00,1,Death,2020-12-22 00:00:00,2019-03-16 00:00:00,No,None,None,0
freq,1,43,1,2,6,46,2,1,69,16,22,35

In [5]:
# Read Antiplatelet4

Antiplatelet4 = pd.read_excel("C:/Users/brody/Desktop/School/Work/Internships/INOVA/Antiplatelet/Antiplatelet.xlsx", sheet_name=3, header=None,engine="openpyxl")

Antiplatelet4 = pd.DataFrame(Antiplatelet4)
Antiplatelet4.columns = Antiplatelet4.iloc[0]
Antiplatelet4 = Antiplatelet4.iloc[1:]
Antiplatelet4.reset_index(drop=True, inplace=True)

# Drop rows with missing "Patient Number"
Antiplatelet4 = Antiplatelet4.dropna(subset=["Patient Number"])

# Reset the index
Antiplatelet4.reset_index(drop=True, inplace=True)

# Summary
Antiplatelet4_summary = Antiplatelet4.describe()
Antiplatelet4_summary

,Patient Number,Antiplatelet Loading,AP Loading for analysis,Anticoagulation Loading (units of heparin),Vessel Intervened On,Number of Stents,Final TIMI Flow,ACC Bleed Risk,Artherectomy,Post Stent EF,IVUS,Max ACT,Final ACT,Insertion of MCS,Type of MCS,NaN
count,78,76,70,76,74,75,72,61,65,66.0,67,74,75,74,45,10
unique,78,27,9,29,40,6,6,18,3,40.0,6,35,36,2,3,8
top,1,Tirofiban,2,4000,LAD,1,3,Not documented,No,0.2,Unknown,Not documented,Not documented,Yes,Impella CP,IABP to Impella; PCI/stent at OSH
freq,1,11,15,8,16,32,44,35,43,9.0,26,31,31,45,31,3

Merge Data

In [6]:
# Merge datasets
Antiplatelet = pd.merge(Antiplatelet1, Antiplatelet2, on="Patient Number")
Antiplatelet = pd.merge(Antiplatelet, Antiplatelet3, on="Patient Number")
Antiplatelet = pd.merge(Antiplatelet, Antiplatelet4, on="Patient Number")


# Summary of merged dataset
print(Antiplatelet.describe(include = 'all'))

# Column names of merged dataset
print(Antiplatelet.columns)

0       Patient Number  PCI   Age                                   Race  \
count             78.0   78  78.0                                     78
unique            78.0    1  33.0                                      3
top                1.0  Yes  52.0  Not of Hispanic/Latino/Spanish origin
freq               1.0   78   8.0                                     62
mean               NaN  NaN   NaN                                    NaN
std                NaN  NaN   NaN                                    NaN
min                NaN  NaN   NaN                                    NaN
25%                NaN  NaN   NaN                                    NaN
50%                NaN  NaN   NaN                                    NaN
75%                NaN  NaN   NaN                                    NaN
max                NaN  NaN   NaN                                    NaN

0      Gender  Height (cm)  Weight (kg)        BMI Presenting Hospital  \
count      78         78.0         78.0  78.000000                  78
unique      2         27.0         71.0  77.000000                   2
top      Male        177.8         90.7  41.311302       Inova Fairfax
freq       65          9.0          3.0   2.000000                  40
mean      NaN          NaN          NaN        NaN                 NaN
std       NaN          NaN          NaN        NaN                 NaN
min       NaN          NaN          NaN        NaN                 NaN
25%       NaN          NaN          NaN        NaN                 NaN
50%       NaN          NaN          NaN        NaN                 NaN
75%       NaN          NaN          NaN        NaN                 NaN
max       NaN          NaN          NaN        NaN                 NaN

0      Pre-Hospital Location  ... Final TIMI Flow  ACC Bleed Risk  \
count                     78  ...            72.0              61
unique                     1  ...             6.0              18
top                     Home  ...             3.0  Not documented
freq                      78  ...            44.0              35
mean                     NaN  ...             NaN             NaN
std                      NaN  ...             NaN             NaN
min                      NaN  ...             NaN             NaN
25%                      NaN  ...             NaN             NaN
50%                      NaN  ...             NaN             NaN
75%                      NaN  ...             NaN             NaN
max                      NaN  ...             NaN             NaN

0      Artherectomy Post Stent EF     IVUS       Max ACT_y     Final ACT_y  \
count            65          66.0       67              74              75
unique            3          40.0        6              35              36
top              No           0.2  Unknown  Not documented  Not documented
freq             43           9.0       26              31              31
mean            NaN           NaN      NaN             NaN             NaN
std             NaN           NaN      NaN             NaN             NaN
min             NaN           NaN      NaN             NaN             NaN
25%             NaN           NaN      NaN             NaN             NaN
50%             NaN           NaN      NaN             NaN             NaN
75%             NaN           NaN      NaN             NaN             NaN
max             NaN           NaN      NaN             NaN             NaN

0      Insertion of MCS Type of MCS                                NaN
count                74          45                                 10
unique                2           3                                  8
top                 Yes  Impella CP  IABP to Impella; PCI/stent at OSH
freq                 45          31                                  3
mean                NaN         NaN                                NaN
std                 NaN         NaN                                NaN
min                 NaN         NaN                                NaN
25%                 NaN         NaN                                NaN
50%                 NaN         NaN                                NaN
75%                 NaN         NaN                                NaN
max                 NaN         NaN                                NaN

[11 rows x 110 columns]
Index([       'Patient Number',                   'PCI',
                         'Age',                  'Race',
                      'Gender',           'Height (cm)',
                 'Weight (kg)',                   'BMI',
         'Presenting Hospital', 'Pre-Hospital Location',
       ...
             'Final TIMI Flow',        'ACC Bleed Risk',
                'Artherectomy',         'Post Stent EF',
                        'IVUS',             'Max ACT_y',
                 'Final ACT_y',      'Insertion of MCS',
                 'Type of MCS',                     nan],
      dtype='object', name=0, length=110)

Final Cleaning

In [7]:
# Define NA strings
na_strings = ["NA", "N A", "N / A", "N/A", "N/ A", "Not Available", "NOt available", "Not documented", "Unknown", "Unavailable"]

# Replace NA strings with NaN
Antiplatelet.replace(na_strings, np.nan, inplace=True)

# Convert column 58 to string type
Antiplatelet.iloc[:, [58]] = Antiplatelet.iloc[:, [58]].astype(str)

replacement_mapping = {'0.0': '0', '1.0': '1', '2.0': '2', '3.0': '2', '4.0': '2', '5.0': '2'}

Antiplatelet['Initial.Antiplatelet.Strategy'] = Antiplatelet.iloc[:, [58]].replace(replacement_mapping)

#Antiplatelet.head(20)

In [8]:
#specify that all columns should be shown
#pd.set_option('max_columns', None)

#View problem records
#print(Antiplatelet[Antiplatelet['Patient Number']==14])
#print(Antiplatelet[Antiplatelet['Patient Number']==18])

# Remove patient who died before treatment
Antiplatelet.drop(13, inplace=True)

# Remove patient 18 missing for PCI and beyond
Antiplatelet.drop(17, inplace=True)

#Antiplatelet.head(20)